# Energy Economics Final Project #

## Hypothesis 1: ##
There is a negative relationship, the more expensive oil is, the less Americans hold enviornmental issues at hand

I need to do a few things
- Clean out the row data  for the first row
- Split the results into 2 colunns
- Create a new row with an percept of positive share based on the two new columns
- add this to other table and make a graph

In [57]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
plt.style.use("ggplot")

## Cleaning Data Climate\Oil Price ##

### Climate ####

In [20]:
df = pd.read_csv("Climate_1989-2023.csv")

In [21]:
df.columns

Index(['Global warming or climate change', 'Great Deal', 'Fair Amount',
       'Only a little', 'Not at all', 'No opinion', 'Totals'],
      dtype='object')

In [22]:
df = df[['Global warming or climate change', 'Great Deal', 'Fair Amount',
       'Only a little', 'Not at all', 'No opinion']]

In [146]:
#df.loc[:, 'Global warming or climate change'] = df['Global warming or climate change'].str.replace("MmAayr","")
#this also does not work because there are too many unique strings in the column

In [133]:
#df['Global warming or climate change'] = df['Global warming or climate change'].str.replace('Mar 1-', '')
#this did not work because there are too many unique characters in the type of rows

In [216]:

#the problem here is that we are not able to specify how many of the things we need ot seperate due to thefact that soem spots have 7 spaces and others have 8

In [193]:
#df['Global warming or climate change'] = df['Global warming or climate change'].str.replace('Ma', '')

In [23]:
df.loc[:, 'Global warming or climate change'] = df['Global warming or climate change'].str[:-6]
#This was able to work because the : operator was able to indice and slice everything that was at the end of the string

In [24]:
df['Global warming or climate change'] = df['Global warming or climate change'].str.replace('MaarOctApr', '')

In [25]:
df['Global warming or climate change'] = df['Global warming or climate change'].str.replace('M', '')

In [26]:
df['Global warming or climate change'] = df['Global warming or climate change'].str.replace('r', '')

In [27]:
df['Global warming or climate change'] = df['Global warming or climate change'].str.replace('A', '')

In [28]:
df['Global warming or climate change'] = df['Global warming or climate change'].str.replace('Oct', '')

In [40]:
df['Year'] = df['Year'].str.replace('a', '')

In [41]:
df['Year'] = df['Year'].str.replace('p', '')

In [29]:
df.head(10)

,Global warming or climate change,Great Deal,Fair Amount,Only a little,Not at all,No opinion
0,2023 a,39,22,18,21,-
1,2022 a,43,22,18,17,-
2,2021 a,43,22,18,17,-
3,2020 a,46,19,15,19,-
4,2019 a,44,21,15,20,-
5,2018,43,20,18,18,-
6,2017,45,21,18,16,-
7,2016,37,27,17,19,-
8,2015,32,23,21,24,-
9,2014,34,22,19,24,-

In [30]:
df.columns

Index(['Global warming or climate change', 'Great Deal', 'Fair Amount',
       'Only a little', 'Not at all', 'No opinion'],
      dtype='object')

In [31]:
df['Support_Env'] = df['Great Deal'] + df['Fair Amount']

In [32]:
df['Oppose_Env'] = df['Only a little'] + df['Not at all']

In [33]:
df.columns

Index(['Global warming or climate change', 'Great Deal', 'Fair Amount',
       'Only a little', 'Not at all', 'No opinion', 'Support_Env',
       'Oppose_Env'],
      dtype='object')

In [34]:
df = df[['Global warming or climate change', #'Great Deal', 'Fair Amount',
      #'Only a little', 'Not at all', 'No opinion', 
         'Support_Env',
       'Oppose_Env']]

In [35]:
df = df.rename(columns={'Global warming or climate change': 'Year'})

### Oil Price ###

In [43]:
df2 = pd.read_csv("crude-oil-prices.csv")

In [44]:
df2.head(5)

  Entity      Code  Year  Oil price - Crude prices since 1861 (current US$)
0  World  OWID_WRL  1861                                           3.082002
1  World  OWID_WRL  1862                                           6.604290
2  World  OWID_WRL  1863                                          19.812870
3  World  OWID_WRL  1864                                          50.695790
4  World  OWID_WRL  1865                                          41.449783

In [45]:
df2 = df2.rename(columns={'Oil price - Crude prices since 1861 (current US$)': 'Price'})

In [283]:
df2.columns

Index(['Year', 'Price'], dtype='object')

In [46]:
df2 = df2[["Year", "Price"]]

In [47]:
df2 = df2[-34:]

In [287]:
#df2 = display(df2[df2.columns[::-2]])

In [48]:
df2.head(5)

     Year       Price
128  1989  114.638600
129  1990  149.230670
130  1991  125.801750
131  1992  121.524200
132  1993  106.748184

In [49]:
df2 =  df2.iloc[::-1] #this helps reverse the rows in the columns

In [50]:
df.head(5)

    Year  Support_Env  Oppose_Env
0  2023            61          39
1  2022            65          35
2  2021            65          35
3  2020            65          34
4  2019            65          35

In [51]:
df2.head(5)

     Year      Price
161  2022  637.28253
160  2021  446.02164
159  2020  263.15482
158  2019  403.87164
157  2018  448.52600

## Data Analysis ##

In [308]:
df.head(5)
df2.head(5)

     Year      Price
161  2022  637.28253
160  2021  446.02164
159  2020  263.15482
158  2019  403.87164
157  2018  448.52600

In [312]:
pip install --upgrade matplotlib

Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (3.8.0)
Collecting matplotlib
  Obtaining dependency information for matplotlib from https://files.pythonhosted.org/packages/57/44/007b592809f50883c910db9ec4b81b16dfa0136407250fb581824daabf03/matplotlib-3.8.2-cp310-cp310-macosx_11_0_arm64.whl.metadata
  Downloading matplotlib-3.8.2-cp310-cp310-macosx_11_0_arm64.whl.metadata (5.8 kB)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (0.12.0)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (4.43.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (1.26.0)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.8.2-cp310-cp310-macosx_11_0_arm64.whl (7.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.5/7.5 MB 24.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: matplotlib
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.8.0
    Uninstalling matplotlib-3.8.0:
      Successfully uninstalled matplotlib-3.8.0
Successfully installed matplotlib-3.8.2

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install --upgrade pip

Requirement already satisfied: pip in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (23.2.1)
Collecting pip
  Obtaining dependency information for pip from https://files.pythonhosted.org/packages/47/6a/453160888fab7c6a432a6e25f8afe6256d0d9f2cbd25971021da6491d899/pip-23.3.1-py3-none-any.whl.metadata
  Downloading pip-23.3.1-py3-none-any.whl.metadata (3.5 kB)
Downloading pip-23.3.1-py3-none-any.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 16.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.2.1
    Uninstalling pip-23.2.1:
      Successfully uninstalled pip-23.2.1
Successfully installed pip-23.3.1
Note: you may need to restart the kernel to use updated packages.

In [56]:
plt.plot(x, y1, label='df', color='blue', linestyle='-')

AttributeError: module 'matplotlib' has no attribute 'plot'