In [5]:
import os
os.environ["GIT_PYTHON_GIT_PYTHON"] = "/path/to/your/python/interpreter"

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
plt.style.use("ggplot")

In [2]:
df = pd.read_csv("crude-oil-prices.csv")

In [3]:
df = df.rename(columns={'Oil price - Crude prices since 1861 (current US$)': 'Price'})
print(df)

    Entity      Code  Year       Price
0    World  OWID_WRL  1861    3.082002
1    World  OWID_WRL  1862    6.604290
2    World  OWID_WRL  1863   19.812870
3    World  OWID_WRL  1864   50.695790
4    World  OWID_WRL  1865   41.449783
..     ...       ...   ...         ...
157  World  OWID_WRL  2018  448.526000
158  World  OWID_WRL  2019  403.871640
159  World  OWID_WRL  2020  263.154820
160  World  OWID_WRL  2021  446.021640
161  World  OWID_WRL  2022  637.282530

[162 rows x 4 columns]

In [5]:
df = df[['Year',
       'Price']]

In [6]:
df = df[-72:]

In [4]:
df.head(10)

  Entity      Code  Year      Price
0  World  OWID_WRL  1861   3.082002
1  World  OWID_WRL  1862   6.604290
2  World  OWID_WRL  1863  19.812870
3  World  OWID_WRL  1864  50.695790
4  World  OWID_WRL  1865  41.449783
5  World  OWID_WRL  1866  23.523851
6  World  OWID_WRL  1867  15.158419
7  World  OWID_WRL  1868  22.831974
8  World  OWID_WRL  1869  22.894873
9  World  OWID_WRL  1870  24.278627

In [14]:
df["Price"].sum

<bound method Series.sum of 90      10.755558
91      10.755558
92      12.139314
93      12.139314
94      12.139314
          ...
157    448.526000
158    403.871640
159    263.154820
160    446.021640
161    637.282530
Name: Price, Length: 72, dtype: float64>